#appointment {
  padding: var(--space-l);
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#appointment .header {
  display: flex;
}

#appointment .header button {
  padding: var(--space-2xs);
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

#appointment .content {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-l);
  width: 50%;
  align-self: center;
}

#appointment h3 {
  margin-top: var(--space-m);
  margin-bottom: var(--space-3xs);
  font-weight: normal;
  font-size: var(--fs-md);
}

#appointment .patients {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

#appointment .patients a {
  text-decoration: none;
  padding: var(--space-3xs) var(--space-m);
  width: fit-content;
  background-color: var(--white);
  border-radius: 0.5rem;
}

#appointment .patients a:nth-child(3n + 2) {
  background-color: var(--violet);
  color: var(--white);
}

#appointment .patients a:nth-child(3n) {
  background-color: var(--light-yellow);
}

#appointment .content > a {
  background-color: var(--violet);
  cursor: pointer;
  color: var(--white);
  border: none;
  padding: var(--space-3xs) var(--space-m);
  width: fit-content;
  border-radius: 0.5rem;
  margin-top: var(--space-m);
  align-self: center;
  text-decoration: none;
}
