#new-appointment {
  padding: var(--space-l);
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#new-appointment .header {
  display: flex;
}

#new-appointment .header a {
  padding: var(--space-2xs);
}

#new-appointment form {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-l);
  width: 50%;
  align-self: center;
}

#new-appointment label {
  margin-top: var(--space-m);
  margin-bottom: var(--space-3xs);
  cursor: pointer;
}

#new-appointment form button {
  background-color: var(--violet);
  cursor: pointer;
  color: var(--white);
  border: none;
  padding: var(--space-3xs) var(--space-m);
  width: fit-content;
  border-radius: 0.5rem;
  margin-top: var(--space-m);
  align-self: center;
}
