#patients {
  padding: var(--space-l) var(--space-l) 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#patients .header {
  display: flex;
  align-items: center;
}

#patients .header .search {
  display: flex;
  flex-grow: 1;
  margin-left: var(--space-3xl);
}

#patients .header input {
  flex-grow: 1;
}

#patients .header label {
  cursor: pointer;
  padding: var(--space-3xs);
  margin-left: var(--space-2xs);
}

#patients .header a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--violet);
  padding: var(--space-3xs) var(--space-s);
  border-radius: 14px;
  margin: 0 var(--space-3xl);
}

#patients .content {
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-l) 0;
  gap: var(--space-m);
}

#patients .patient-card {
  width: 12rem;
  height: 15rem;
  padding: var(--space-s);
  background-color: var(--white);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#patients .patient-card .avatar {
  width: 100px;
  height: 100px;
}

#patients .patient-card .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

#patients .patient-card .name {
  margin-top: var(--space-xs);
}

#patients .patient-card .description {
  margin-top: var(--space-3xs);
  font-size: var(--fs-sm);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#patients .navigation {
  display: flex;
  justify-content: flex-end;
  margin: auto var(--space-l) var(--space-m);
}

#patients .navigation button {
  padding: 0 var(--space-2xs);
  background-color: inherit;
  cursor: pointer;
  color: inherit;
  border: none;
  border-radius: 6px;
}

#patients .navigation button.active {
  background-color: var(--violet);
  color: var(--white);
}
